.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: #1976d2;
  align-items: center;
  justify-items: end;
  padding: 10px 20px;
}

.header h1 {
  color: whitesmoke;
}

.search-wrapper {
  justify-self: end;
}

.save-mode {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.save-mode img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}



