.app {
  width: 100%;
  min-height: 100vh;
}

.mode-light {
  transition: all 0.8s ease-in-out;
  background-color: whitesmoke;
}

.mode-dark {
  transition: all 0.8s ease-in-out;
  background-color: #303030;
}

.notes-container {
  max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
  margin-top: 50px;
}