.app {
  width: 100%;
  min-height: 100vh;
}

.mode-light {
  transition: all 0.8s ease-in-out;
  background-color: whitesmoke;
}

.mode-dark {
  transition: all 0.8s ease-in-out;
  background-color: #303030;
}

